<html>
  <head>
    <title>{{ font_name }}</title>
    <link href="base.css" rel="stylesheet">
    <link href="css/foundation-{{ font_name }}.css" rel="stylesheet">
    <link href="css/fontawesome-{{ font_name }}.css" rel="stylesheet">
  </head>
  <body>
    <h1>{{ font_name }}</h1>
    <h3>fontawesome style</h3>
    <ul class="glyph">
      {% for glyph in glyphs %}
      <li>
        <i class="{{ css_class_name }} {{ css_class_name }}-{{ glyph.name }} {{ css_class_name }}-4x"></i>
        <span class="glyph-name">{{ glyph.name }}</span>
        <span class="glyph-codepoint">{{ glyph.unicode }}</span>
      </li>
      {% endfor %}
    </ul>

    <h3>foundation style</h3>
    <ul class="glyph">
      {% for glyph in glyphs %}
      <li>
        <span class="{{ css_class_name }}-{{ glyph.name }}"></span>
        <span class="glyph-name">{{ glyph.name }}</span>
        <span class="glyph-codepoint">{{ glyph.unicode }}</span>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
